{% set org = orgaMeta.meta %}

<footer class="col-12 fullwrap m-0">
  {# <section class="fullwrap col-12 text-center pt-4 pb-3 d-print-none"> #}
    <div class="indent-me">
      <div class="row">

{# address #}
      <address class="col-12 col-md-9">

        <picture class="address-img" width="100%">
           <source type="image/webp" srcset="{{ org.img | media | resize(250, 250, { mode: 'cover', format: 'webp' }) }}">
           <source type="image/jpg"  srcset="{{ org.img | media | resize(250, 250, { mode: 'cover'  }) }}">
           <img    type="image/jpg"  src="{{ org.img | media | resize(250, 250, { mode: 'cover' }) }}" class="address-img" alt="{{ org.schema_founder_name }}" width="250" height="250">
        </picture>

        <div id="postal">
          <div class="postaltitle">{{ org.schema_name }} {{ org.schema_founder_name }}</div>
          <div>{{ org.schema_street }} {{ org.schema_no }}</div>
          <div>{{ org.schema_zip }} {{ org.schema_city }}</div>
        </div>

        <div id="phone">
          <a href="tel:{{ org.schema_phone }}" title="{{ 'address.phone.title'|_ }}">
            {% partial 'html_body/svg-icons/phone' %} {{ 'address.phone.title'|_ }}
          </a>
        </div>

        <div id="mail" class="">
          {% partial 'html_body/svg-icons/email' %}
          <div class="protectedmailsnippet d-inline">
          <script>
          user = '{{ 'address.mail.name'|_ }}';
          site = '{{ 'address.mail.domain'|_ }}';
          var elements = document.getElementsByClassName('protectedmailsnippet');
            Array.prototype.forEach.call(elements, function(element) {
                element.innerHTML = '<a href=\"mailto:' + user + '@' + site + '\" title="Mail">'+ user + '@' + site +'</a><br>';
            });
          </script>
          </div>
        </div>

        <div id="socials" class="pt-4">
          <a href="https://www.facebook.com/Holistic-Living-Ganzheitliche-Heilung-103538408028379" title="Facebook">
            {% partial 'html_body/svg-icons/facebook' %}
            Facebook
          </a><br>
          <a href="https://de.linkedin.com/in/fabia-zermin-178150101" title="LinkedIn">
            {% partial 'html_body/svg-icons/linkedin' %}
            LinkedIn
          </a>
        </div>

     </address>

{# up #}
      <div id="upwards" class="col-12 col-md-3 placeitemscenter">
        <a href="#top" title="{{ 'footer.backtotop.label'|_ }}">
          {% partial 'html_body/svg-icons/up' %}
          {{ 'footer.backtotop.label'|_ }}
        </a>
      </div>

{# byline #}
      <div class="col-12 byline pt-4 mt-4">
        <small>
          <a href="{{ 'bedingungen-und-richtlinien' | staticPage }}" title="{{ 'footer.link.agb'|_ }}">
            {{ 'footer.link.agb'|_ }}
          </a>
          |
          <a href="{{ 'impressum' | staticPage }}" title="{{ 'footer.link.imprint'|_ }}">
            {{ 'footer.link.imprint'|_ }}
          </a>
          |
          <a href="{{ 'datenschutz' | staticPage }}" title="{{ 'footer.link.dataprivacy'|_ }}">
            {{ 'footer.link.dataprivacy'|_ }}
          </a>
        </small>
        <small class="d-block pt-4">
        <a href="https://impactfactory.ch" rel="noopener" title="Webdesign Websites WinterCMS Laravel">
          Powered by ImpactFactory
        </a>
        |
        <a href="/{{ activeLocale }}">&copy; 2022 - {{ "now"|date("Y") }}
          {{ orgaMeta.meta.schema_name }}
        </a>
        |
        Icons-Nutzung mit freundlicher Genehmigung durch <a href="https://fontawesome.com/" title="Fontawesome Icons" rel="noopener" target="_blank">Fontawesome</a>. Fotos: <a href="https://unsplash.com/" title="Unsplash freely usable images" rel="noopener" target="_blank">Unsplash</a>, <a href="https://www.raphaelsimon.ch" title="Fotography Raphael Simon Bern">Raphael Simon</a>
        </small>
      </div>
      </div> {# end row #}
    </div> {# end indent-me #}
   {# </section> #}
</footer>
