description = "Frontpage"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main"

[seoTags]

[orgaMeta]

[viewBag]
localeBlogbase[de] = "hypnose"
localeTagpagebase[de] = "stichwort"
localeCategorypagebase[de] = "thema"
localeTeambase[de] = "/team"
==
<?php
function onStart()
{
    $this['breadcrumbid'] = 'frontpage';
}
?>
==

{# begin head and all meta tags #}
  {% component 'seoTags' %}
{# end head #}
<body id="top" class="page-{{ this.page.id }} layout-{{ this.page.layout }} frontpage">

      <div class="container px-0 mx-0 mw-100">

        {% partial 'html_body/header' %}

        <main class="row mb-4 pb-4 d-flex justify-content-center gx-0">
          <div class="col-12 col-l2-8 pr-0 content-container">
            {% page %}
          </div>
        </main>

        {% partial 'html_body/footer' %}

      </div>

      {#  % placeholder toasts ignore=true %  #}

      {# % component 'cookiesBar' % #}

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
                   {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "{{ url('/') }}/{{ localePicker.activeLocale }}"
              }
              ]
         }
       </script>

      {% placeholder json ignore=true %}

      {% partial 'html_body/scripts' %}

    </body>
</html>
