.postcard {

   .card {
     border:1px solid var(--white100);
   }

  a {

      color: $if-dark;
      text-decoration: none;

      :visited {
        color: inherit;
       }
  }

  .img-container {

    position:relative;
    height: 100%;

    img {
      border-radius: 4px 4px 0 0;
    }
  }

  .img-container:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%;height:100%;
    display:inline-block;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 55%,rgba(255,255,255,0.25) 60%,rgba(255,255,255,0.5) 70%,rgba(255,255,255,1) 100%);
  }

  .card-body {
    position: relative;
    margin-top: -80px;
  }

  .card-footer {

    .timetoread, .category-tag, .tag {
      font-size:14px;
      font-variant: small-caps;
    }

    .tag {
      color: $if-dark;

        a {
        color: $if-dark;
      }
   }
 }
}

.videocard {

  a.playbutton {
    cursor: pointer;
    position: relative;
    top: 20px;
    left:20px;
    z-index: 1000;

  }

  .card {
      margin-top: -42px;
      overflow: hidden;
    }
  }



.postcard:hover {

    .card {
      background-color: var(--black10);
      border: 1px solid var(--darkblue);
      color: var(--darkblue);
    }

    .img-container:after {
      //background: linear-gradient(to bottom, var(--yellow0) 0%,var(--yellow10) 55%,var(--yellow20) 60%,var(--yellow60) 70%,var(--yellow) 100%);
      //background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 55%,rgba(255,255,255,0.25) 60%,rgba(255,255,255,0.5) 70%,rgba(255,255,255,1) 100%);
}

    a h3, a h3 small, a .card-text, .timetoread, .tag, .tag a {
      color: var(--darkblue)!important;
      text-decoration: none;
    }

    .fa-play-circle {
      background: transparent !important;
      color: $if-primary;
    }

    .category-tag {
      //color: var(--green)!important;

        a {
        //color: var(--green)!important;
      }
    }
  }
