#languageselect {
  width: 120px;
  background-color: var(--beige);
  border: none!important;
  border-radius: 20px;
  color: var(--brown);
  font-family: var(--ff);
  padding: .25rem 1rem .5rem .5rem;
  position: absolute;
   top: 1rem;
   right: 0;
  font-size: 19px;
  text-transform: lowercase;
  }

#languageselect:hover {
  background-color: var(--white100)!important;
}



@media only screen and (min-width: 1120px) {

    #languageselect {
    bottom: 2.5rem;
     right: auto;
     top: auto;
  }
}
