.frontpage main, .page-blog-post-detail main {
  padding: 0rem 0 4rem 0;
}

main {
  min-height: auto;
  overflow: hidden;
  overflow-wrap: anywhere;
  padding: 2rem 0 4rem 0;
  position: relative;
  width: 100%;

  li {
    overflow-wrap: anywhere;
    padding-right:2px;
  }

  .content-container {
    padding: 0 0 0 0!important;


  #keyvisual {
    height: auto;
    width:100%;
  }

  h1 {
    color: var(--black);
    font-size: var(--fs-xl);
    font-weight:400;
    padding: 0 0 1rem 0;
    overflow-wrap: anywhere;
  }

  article {
    padding: 0;

    h1 {
      color: var(--black70);
      font-size: var(--fs-xl);
      font-weight:400;
      overflow-wrap: anywhere;
      padding: 0 0 0 0;
      position: absolute;
        top: 3rem;
        left: 3.2rem;
      z-index:1000;
    }

    h2 {
      font-size: var(--fs-lg);
      overflow-wrap: anywhere;
    }

    h1.onkeyvisual {
      color: var(--beige);
      position: absolute;
        top: 1rem;
        left: 1rem;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    #content {
      display:block;

      blockquote#pagemainquote {
        //background: var(--brown);
        color: var(--beige);
        flex: 0 0 auto;
        font-family: var(--ff);
        height: auto;
        margin: 0 2rem .75rem 0;
        padding: 1.5rem 1.5rem 0 0 ;
        overflow: hidden;
        width: 100%;

        .wrap {
          border-right: 4px solid var(--beige);
          border-top: 4px solid var(--beige);
          padding: 1.5rem 1.5rem 2.5rem 1.5rem ;

          #quote {
            font-style: normal!important;
            display:none;
          }

          #author {
            padding-top:1rem;
          }
        }
      }
      #page {
        padding-left: 1rem;
      }
    }
  }
  // footer see footer.css
}
}





@media only screen and (min-width: 1120px) {

  main {
      min-height: 100%;

      article {
        padding: 1rem;

      h1.onkeyvisual {
        top: 3rem;
        left: 3.2rem;
      }

      #content {
        display: flex;

        blockquote#pagemainquote {
          flex: 0 0 auto;
          margin: 0 2rem 2rem 0;
          transform: translate(2.6rem, -4.5rem);
          width: 380px;
          z-index:1000;
        }

        #page {
          padding-left: 3.2rem;
        }

      }
    }
  }
}
