:root {

// blues for trust, deepness
--darkblue: rgba(25,34,45,1); //#19222d
--babyblue: rgba(103,184,246,1); // #67b8f6 = primary
--babyblueshaded-1: rgba(93,166,221,1); // #5da6dd = primary
--babyblueshaded-2: rgba(82,147,197,1); // #5293c5
--babyblueshaded-3: rgba(72,129,172,1); // #4881ac
--lightblue: rgba(164,212,250,1); //#a4d4fa
// for texts and contrast
--black: rgba(68, 68, 68, 1); // #444 /
--black80: rgba(41, 21, 1, .8);
--black70: rgba(41, 21, 1, .7); //titles, paragraphs
--black50: rgba(41, 21, 1, .5); // backgrounds
--black10: rgba(50, 26, 3, .1);
// for cleanliness and purity
--white100: rgba(255, 255, 255, 0.8); // titles, buttons, boxes
--white80: rgba(255, 255, 255, .8);
--white70: rgba(255, 255, 255, .7);
--white40: rgba(255, 255, 255, .4); // backgrounds
--white10: rgba(255,255,255,.1); // backgrounds
--white05: rgba(255,255,255,.05); // backgrounds
/*
--yellow: rgba(234,203,33,1); // #eacb21 / logo, nav, buttons, cards:hover
--yellow80: rgba(234,203,33,.8);
--yellow60: rgba(234,203,33,.6);
--yellow40: rgba(234,203,33,.4);
--yellow20: rgba(234,203,33,.2);
--yellow20: rgba(234,203,33,.1);
--yellow0: rgba(234,203,33,.0);
--yellow-light: rgba(245,244,163,1); // #f5f4a3 / backgrounds
--yellow-light80: rgba(245, 244,163,.8); // box-shadows
--yellow-light70: rgba(245,244,163,.7);
--yellow-light50: rgba(245,244,163,.5);
--yellow-light20: rgba(245,244,163,.2);
*/
//--green: rgb(98, 157, 5); // #629d05 altes grün: #177d30
//--grey: rgb(244, 245, 248); //#f4f5f8 // for muted, hover inside black, lines, >, megamenu

//gradients
--gr-black70: linear-gradient(90deg, var(--darkblue) 0%, rgba(25,34,45,0.8) 50%, var(--darkblue) 100%);

//font-sizes
--fs-sm: 10px;
--fs-lg: 24px;
--fs-xl: 56px;
@media only screen and (max-width: 281px){
  --fs-xl: 30px;
}
@media only screen and (min-width: 282px) and (max-width: 412px) {
  --fs-xl: 40px;
}

//font weights
--fw-sbold: 600; // semibold
--fw-bold: 800; // boldest

//extra-fonts
//--ff: 'Ubuntu', sans-serif;

// border radius
--br10: 10px; //border-radius:10px
}

/* primary */
$if-primary-dark: rgb(98, 157, 5); // #629d0
$if-primary-light: #BDBC18;
$if-primary: rgba(93,166,221,1); //  = var(--babyblueshaded_1)

/* secondary */
$if-secondary: rgba(255, 255, 255, .1);// #fc7c82
$if-secondary-dark: $if-secondary;
$if-secondary-black: $if-secondary;
$if-secondary-light: $if-secondary;

/*white to black shades */
$if-white: rgba(255, 255, 255, 0.8); //#ffffff
$if-light: rgba(255,255,255,0.4); /* not used ?*/
$if-white-50: rgba(255,255,255,0.5); //#ffffff
$if-white-25: rgba(255,255,255,0.25); //#ffffff
$if-white-15: rgba(255,255,255,0.15); //#ffffff
$if-grey: rgba(252,243,238,1); // #fcf3ee
$if-dark: rgba(51,51,51,1); // #333333
$if-black: rgba(0,0,0,1); // #000000

/* notification colors */
$if-success: #198754;
$if-info: #b7d9d5; /* not used ?*/
$if-warning: #fd7e14;
$if-danger: rgba(129, 5, 12, 1);// #81050c

/* further variables */
$body-bg: transparent;// = --yellow-light, has override by global-layout.scs
$body-color: #444;
$if-font-size-base: 1rem !default;
$if-content-max-width: 1000px;
$if-wrap-padding: 0 0.5rem 0 0.5rem;

$if-tabs-border-color: $if-dark;
